@charset "utf-8";
/* CSS Document */

/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 105%;
}

/*Pozícionálás*/
body {
	display: flex;
	background: url(assets/hatterkep.jpg) no-repeat center center fixed;
	background-size: cover;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.profile-card {
	vertical-align: middle;
	margin-top: 5rem;
	width: inherit;
  max-width: calc(100vw - 1px);
	height: auto;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 3rem;
	box-sizing: border-box;
}

.head {
	width: 95%;
	margin: 0 auto;
}

img {
	display: block;
	filter: grayscale(100%);
	width: 8rem;
	border-radius: 50%;
	transition: all 0.5s ease-in-out;
	margin-top: 2rem;
	padding: 0.08rem;
  background-color: #8A8888;
}

img:hover {
  transform: scale(1.2) rotate(360deg);
  filter: grayscale(20%);
}

.name {
	color: aliceblue;
	margin-top: 1.3rem;
	font-family: 'Amarante';
}

h1 {
	font-size: 1.6rem;
}

h2 {
	font-size: 1.2rem;
	margin-top: 1rem;
}

h3 {
	margin-top: 1rem;
	margin-bottom: 0.6rem;
}

hr.first {
	margin-bottom: 0.5rem;
}

hr.second {
	margin-top: 0.5rem;
}

p {
	letter-spacing: 0.04rem;
}

.add-on {
	margin-top: 0.4rem
}

.phone-adress {
	font-family: 'Amarante';
	color: aliceblue;
	line-height: 0.7rem;
	font-size: 1.1rem;
}

.phone {
	display: inline;
	text-align: center;
	margin-bottom: 0.5rem;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.location {
	margin-top: 0.5rem;
}

ul {
	list-style-type: none;
}

ul.list {
	margin-bottom: 1rem;
	font-size: 1.5em;
}

.ico {
  display: inline;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	
}

.content {
	font-family: 'Amarante';
	margin: 0 auto;
	width: 95%;
	color: aliceblue;
	text-align: justify;
}

.blue-line {
	font-family: 'Amarante', cursive;
	margin: 0 auto;
	width: 95%;
	color: aliceblue;
	text-align: center;
	border-top: 0.6rem rgba(0, 86, 247, 0.5) solid;
	margin-top: 0.8rem;
	font-size: 1.2rem;
	letter-spacing: 0.05rem;
	padding: 0.5rem;
}

.list {
	justify-content: center;
  align-items: center;
	width: 95%;
	display: inline-flex;
	margin: 0 auto;
}

.fa:hover, .social-icon:hover {
	transform: scale(1.1) rotate(360deg);
	transition: all 0.5s ease-in-out;
}


